// Import the typography styles.
//
// MDC Typography
//
@import "@material/typography/mdc-typography";

.container {
  padding: 30px;
  box-sizing: border-box;
}

#draft-fab {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

.tweet-comments {
  transition: max-height 0.15s ease-out;
  max-height: 0;
  overflow: hidden;
  display: none;
}

.tweet-comments[open="true"] {
  display: block;
  max-height: 9999px;
}